@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root {
  --primary-color: #0f0f0f;
  --secondary-color: #b50808;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  font-family: 'Ropa Sans', sans-serif;
  margin: 0;
}

input {
  font-family: 'Ropa Sans', sans-serif;
}

h1 {
  color: #fff;
}
.recommended-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recommended-img {
  display: flex;
  position: relative;
  transition: .3s;
}

.recommended-img:hover {
  transform: translateY(-.5rem);
}

@media screen and (max-width: 657px) {
  .recommended-img {
    width: 10vh;
  }
}

@media screen and (max-width: 984px) {
  .recommended-img {
    width: 15vh;
  }
}

.recommended {
  margin-top: 11vh;
  text-align: center;
  color: #e32464;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: gray;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 220px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/*---------------------------------------*/

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  background-image: url("../img/red-eye-main-top.png");
  background-repeat: no-repeat;
  background-size: 120em;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 55px;
  /* margin-bottom: 10px;
  margin-top: -30px;
  text-align: center; */
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
/*-------------------------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: sticky;
  background-color: #141414;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #ff0100;
  font-weight: bold;
}



.autoeffect h1 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-bottom: 10px;
  margin-top: -30px;
  text-align: center;
  animation:
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.autoeffect h2 {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-bottom: 10px;
  margin-top: -30px;
  text-align: center;
  animation:
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
